<!DOCTYPE html>
<html xmlns:th="http:///www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>List - Bookmarks</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div>

  <h1>Bookmark List</h1>

  <div>
    <ul>
      <li th:each="bookmark : ${bookmarks}">
        <a th:href="${bookmark.url}" th:text="${bookmark.name}">dummy</a>
        <form style="display: inline" method="post" th:action="@{/bookmark/delete?(id=${bookmark.id})}">
          <input type="submit" value="Remove"/>
        </form>
      </li>
    </ul>

    <a href="/bookmark/register">Bookmark Register</a>
  </div>

</div>
</body>
</html>